@page
@model ListModel
@{
}

<h1>Restaurants</h1>


<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Cuisine</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var restaurants in Model.Restaurants)
            {
            <tr>
                <td>@restaurants.Id</td>
                <td>@restaurants.Name</td>
                <td>@restaurants.Location</td>
                <td>@restaurants.Cuisine</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <h3>@Model.Message</h3>
</div>